# Library and CGFX build products
lib/libc.a
lib/libcf.a
lib/obj_base/
lib/obj_float/
cgfx/*.o
cgfx/*.o.list
cgfx/*.o.map
cgfx/*.a

# Unit test build products
unittest/.all-tests-built
unittest/*.dsk
unittest/*.out
unittest/*.prn
unittest/*.list
unittest/*.map
unittest/go

# Built unittest binaries
unittest/abortchild
unittest/aborttest
unittest/attrwraptest
unittest/compat3test
unittest/ctype
unittest/datmodstest
unittest/defdrivetest
unittest/dirapitest
unittest/dirtest
unittest/errmsgtest
unittest/filelayout
unittest/fiotest
unittest/floatfmttest
unittest/floattest
unittest/forkhellotest
unittest/forknooptest
unittest/forknowaittest
unittest/forktest
unittest/getopttest
unittest/go_float
unittest/hello
unittest/helloworld_low
unittest/intercepttest
unittest/iotest
unittest/maze
unittest/memtest
unittest/misctest
unittest/noop
unittest/osiotest
unittest/osopenerrtest
unittest/popentest
unittest/printtest
unittest/pwcryptest
unittest/pwenttest
unittest/randtest
unittest/searchtest
unittest/setbuftest
unittest/setjmptest
unittest/setstest
unittest/signaltest
unittest/stdlibtest
unittest/streamiotest
unittest/string
unittest/string_nocgfx
unittest/stringexttest
unittest/stringexttest_nocgfx
unittest/syscalltest
unittest/systemtest
unittest/timetest
unittest/utimetest
unittest/wintest
