# Library and CGFX build products
lib/libc.a
lib/libcf.a
lib/obj_base/
lib/obj_float/
cgfx/*.o
cgfx/*.o.list
cgfx/*.o.map
cgfx/*.a

# Unit test build products
unittest/.all-tests-built
unittest/*.dsk
unittest/*.out
unittest/*.prn
unittest/*.list
unittest/*.map
unittest/go

# Built unittest binaries
unittest/abortchild
unittest/aborttest
unittest/attrwraptest
unittest/compat3test
unittest/ctype
unittest/ctypetest
unittest/datmodstest
unittest/defdrivetest
unittest/dirapitest
unittest/dirtest
unittest/errmsgtest
unittest/fdstreamtest
unittest/filelayout
unittest/fiotest
unittest/floatfmttest
unittest/floattest
unittest/forkhellotest
unittest/forknooptest
unittest/forknowaittest
unittest/forktest
unittest/getopttest
unittest/gfx40draw
unittest/gfx80
unittest/gfx80draw
unittest/go_float
unittest/gtest
unittest/hello
unittest/helloworld_low
unittest/intercepttest
unittest/intmathtest
unittest/iotest
unittest/lmultest
unittest/longtest
unittest/maze
unittest/memtest
unittest/misctest
unittest/noop
unittest/osgstattest
unittest/osiotest
unittest/osopenerrtest
unittest/popentest
unittest/printtest
unittest/pwcryptest
unittest/pwenttest
unittest/randtest
unittest/searchtest
unittest/setbuftest
unittest/setjmptest
unittest/setstest
unittest/signaltest
unittest/skiptest
unittest/sleeptest
unittest/stdioedgetest
unittest/stdlibtest
unittest/streamiotest
unittest/string
unittest/string_nocgfx
unittest/stringexttest
unittest/stringexttest_nocgfx
unittest/stringtest
unittest/structcopytest
unittest/syscalltest
unittest/systemtest
unittest/text40
unittest/text40edit
unittest/timetest
unittest/utimetest
unittest/wintest

# Built utils binaries
utils/basename
utils/cat
utils/cksum
utils/cmp
utils/comm
utils/cut
utils/dirname
utils/ed/ed
utils/echo
utils/false
utils/head
utils/mkdir
utils/paste
utils/rev
utils/rmdir
utils/seq
utils/sleep
utils/split
utils/strings
utils/sync
utils/tail
utils/tee
utils/tr
utils/true
utils/tty
utils/uemacs/.cmoc-int/
utils/uemacs/umacs
utils/uniq
utils/wc
utils/yes

# Built utils object files
utils/*/*.o

# CoCo 3 recipe build products
recipes/coco3/.lib/
recipes/coco3/.mods/
recipes/coco3/.obj/
recipes/coco3/*.dsk
recipes/coco3/*.list
recipes/coco3/*.map
recipes/coco3/bootfile
recipes/coco3/buildinfo
recipes/coco3/kerneltrack
